:root {
    color-scheme: light only;
}

@font-face {
    font-family: 'GmarketSansTTFLight';
    src: url('@/assets/fonts/GmarketSansTTFLight.ttf');
}
@font-face {
    font-family: 'GmarketSansTTFMedium';
    src: url('@/assets/fonts/GmarketSansTTFMedium.ttf');
}
@font-face {
    font-family: 'GmarketSansTTFBold';
    src: url('@/assets/fonts/GmarketSansTTFBold.ttf');
}

/* 전체 페이지 스타일링 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-attachment: scroll !important;
}

/* 헤더 스타일링 */
header {
    background-color: #fff;
    color: #333;
    height: 62.09px;
    display: flex;
    align-items: center; /* 요소들을 수직으로 중앙에 배치합니다 */
}

.logo {
    width: 180px;
    flex: 0 0 auto; /* 유연한 너비를 사용하지 않고 고정 너비를 설정합니다 */
    cursor: pointer;
    z-index: 1000;
}

.logo img {
    width: 180px;
}

.logo.left {
    position: absolute;
    left: 0;
}

.logo.right {
    position: absolute;
    right: 30px;
}

.hover-info {
    position: absolute;
    right: 0;
    background: rgb(245,27,20);
    z-index: 999;
    top: 62.09px;
    width: 400px;
    display: none;
}

.hover-info .info-text {
    font-family: GmarketSansTTFMedium;
    color: #fff;
    height: 51px;
    font-size: 10pt;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* 텍스트를 왼쪽으로 정렬합니다 */
    padding-left: 13px; /* 왼쪽에 여유 공간을 추가합니다 */
    width: 100%; /* 텍스트 컨테이너가 전체 너비를 차지하도록 설정합니다 */
    text-align: left; /* 텍스트가 왼쪽으로 정렬되도록 명시적으로 설정합니다 */
}

/* 메인 콘텐츠 스타일링 */
main {

}

section {

}

.photo-flame {
    position: relative; /* 포지션 설정 */
    max-width: 100%;
}

.photo-flame img {
    width: 100%; /* 이미지의 너비를 부모 요소에 맞게 100%로 설정합니다 */
    height: auto; /* 이미지의 가로 세로 비율을 유지합니다 */
    display: block; /* 인라인 요소에서 블록 요소로 변환하여 가로 너비를 100%로 설정합니다 */
}

.text-overlay-wrap {
    position: absolute; /* 포지션 설정 */
    height: 80%;
}

.text-overlay {
    position: sticky;
    top: 10vh;
    color: #fff; /* 텍스트 색상을 흰색으로 설정 */
}
.text-overlay .text-middle {
    font-family: GmarketSansTTFBold;
}

.text-overlay .text-big {
    font-family: Sandoll CinemaTheater;
    font-weight: 400;
}

.text-overlay .text-small .light{
    font-family: GmarketSansTTFLight;
}

.text-overlay .text-small .bold{
    font-family: GmarketSansTTFBold;
}
.img-box {
    position: relative;
    width: 100%;
    height: 0; /* 높이를 0으로 설정하고 패딩으로 높이를 조정 */
    padding-top: 56.25%; /* 16:9 비율을 유지하도록 설정 */
}

.img-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block; /* 인라인 요소의 기본 간격을 제거 */
    object-fit: cover;
}

/* 디테일 콘텐츠 스타일링 */
.photo-text {
    color: #151515;
    margin-left: 30px;
}

.iframe-container {
    position: relative;
    width: 100%;
}
iframe {
    width: 100%;
    border: none;
}

/*관리자 페이지 스타일링*/
.admin-wrap {
    height: 88vh; /* 높이를 70%로 설정 */
    display: flex; /* Flexbox 레이아웃 */
    flex-direction: column; /* 수직 정렬 */
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
    padding: 10px; /* 콘텐츠와 경계 사이의 여백 */
    box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
    background-color: #f9f9f9; /* 배경색 추가 */
}
.admin-wrap > * {
    width: 100%; /* 자식 요소들이 부모의 너비를 채우도록 */
    flex: 1 1 auto; /* 자식 요소가 동적으로 크기를 조절할 수 있도록 */
    justify-content: center; /* 자식 요소들 내의 콘텐츠를 가운데 정렬 */
    align-items: center; /* 자식 요소들 내의 콘텐츠를 가운데 정렬 */
    overflow: hidden; /* 자식 요소의 넘치는 내용을 숨김 */
}

.admin-wrap .app {
    display: flex; /* Flexbox 레이아웃 */
    flex-direction: column; /* 수직 정렬 */
    width: 100%; /* 부모의 너비를 채움 */
    max-width: 600px; /* 최대 너비 설정 */
    max-height: 120%; /* 최대 높이를 부모에 맞춤 */
    margin: 20px auto; /* 자동으로 수평 가운데 정렬 */
    padding: 20px; /* 내부 패딩 */
    border: 1px solid #ccc; /* 경계선 */
    border-radius: 10px; /* 모서리 반경 */
    text-align: center; /* 텍스트 가운데 정렬 */
    box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
}
.admin-wrap .app .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto; /* 세로 스크롤 추가 */
    width: 500px;
    padding-right: 15px; /* 스크롤바가 콘텐츠를 가리지 않도록 패딩 추가 */
}
.admin-wrap .app .list-item {
    padding: 10px;
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: grab;
}
.save-button {
    padding: 10px 20px;
    background-color: RGB(225,53,48);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.save-button:hover {
    background-color: white;
    color: RGB(225,53,48);
    border: 1px solid;
    border-color: RGB(225,53,48);
}
/*컨텐츠 수정 추가 페이지 스타일링*/
.admin-wrap .contentsInfo {
    display: flex; /* Flexbox 레이아웃 */
    flex-direction: column; /* 수직 정렬 */
    width: 100%; /* 부모의 너비를 채움 */
    max-width: 600px; /* 최대 너비 설정 */
    max-height: 1000vh; /* 최대 높이를 설정하여 스크롤이 필요하게 만듦 */
    height: 100%;
    margin: 20px auto; /* 자동으로 수평 가운데 정렬 */
    padding: 20px; /* 내부 패딩 */
    border: 1px solid #ccc; /* 경계선 */
    border-radius: 10px; /* 모서리 반경 */
    text-align: center; /* 텍스트 가운데 정렬 */
    box-sizing: border-box; /* 패딩을 포함한 크기 계산 */
    flex-grow: 1; /* 추가된 내용: flexbox 아이템이 가용 공간을 차지하도록 설정 */
}

.contentsInfo-wrap {
    overflow-y: auto; /* 세로 스크롤 가능 */
}

.contentsInfo-button {
    padding: 10px 20px;
    background-color: RGB(225,53,48);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    width: 100px;
}
.contentsInfo-button:hover {
    background-color: white;
    color: RGB(225,53,48);
    border: 1px solid;
    border-color: RGB(225,53,48);
}
    /* 풋터 스타일링 */
footer {
    background-color: #fff;
    color: #333;
    padding: 10px 0 35px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-family: GmarketSansTTFMedium;
}

.footer-content {
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 0 auto; /* 가운데 정렬 */
}

/* 미디어 쿼리 */
@media screen and (max-width: 768px) {
    .logo.right {
        position: absolute;
        right: 0;
    }
    .hover-info {
        width: 100%;
    }
    .img-box {
        height: 800px;
        object-fit: fill;
    }
    .img-box  img{
        height: 800px;
        object-fit: cover;
    }
    .text-overlay-wrap {
        font-size: 30%;
        top: 70px; /* 상단으로부터 10px 위치에 배치 */
        left: 35px; /* 왼쪽으로부터 10px 위치에 배치 */
        height: 90%;
    }
    .text-overlay .text-small {
        font-size: 9pt;
        margin-bottom: 3px;
    }
    .text-overlay .text-middle {
        font-size: 10pt;
        margin-bottom: 1px;
    }
    .text-overlay .text-big {
        font-size: 25pt;
        margin-bottom: 8px;
    }
    footer {
        height: 30px;
        font-size: 55%;
    }
    footer p {
        margin-bottom: 0rem;
    }
    .admin-wrap .app .list {
        width: 350px;
    }
}

@media screen and (min-width: 768px) {
    /* 화면 너비가 768px 이상일 때 적용되는 스타일 */
    header nav ul li {
        display: inline;
        margin-right: 20px;
    }
    .text-overlay-wrap {
        font-size: 100%;
        top: 90px; /* 상단으로부터 10px 위치에 배치 */
        left: 70px; /* 왼쪽으로부터 10px 위치에 배치 */
    }
    .text-overlay .text-small {
        font-size: 14pt;
        margin-bottom: 10px;
    }
    .text-overlay .text-middle {
        font-size: 18pt;
        margin-bottom: 2px;
    }
    .text-overlay .text-big {
        font-size: 45pt;
        margin-bottom: 10px;
    }
    .logo {
        width: 150px;
    }
}

