@font-face {
    font-family: 'GmarketSansTTFLight';
    src: url('@/assets/fonts/GmarketSansTTFLight.ttf');
}
@font-face {
    font-family: 'GmarketSansTTFMedium';
    src: url('@/assets/fonts/GmarketSansTTFMedium.ttf');
}
@font-face {
    font-family: 'GmarketSansTTFBold';
    src: url('@/assets/fonts/GmarketSansTTFBold.ttf');
}

/* 전체 페이지 스타일링 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-attachment: scroll !important;
}

/* 헤더 스타일링 */
header {
    background-color: #fff;
    color: #333;
    padding: 35px;
    text-align: center;
    display: flex;
    justify-content: space-between; /* 요소들을 최대한 넓게 배치합니다 */
    align-items: center; /* 요소들을 수직으로 중앙에 배치합니다 */
    transition: transform 0.3s ease; /* 스크롤 효과 부드럽게 만듦 */
}

.logo {
    position: fixed; /* 로고를 고정 위치로 설정합니다 */
    width: 150px;
    flex: 0 0 auto; /* 유연한 너비를 사용하지 않고 고정 너비를 설정합니다 */
    cursor: pointer;
    z-index: 1000;
}

.logo.left {
    left: 0; /* 왼쪽 로고를 헤더 왼쪽에 고정합니다 */
}

.logo.right {
    right: 0; /* 오른쪽 로고를 헤더 오른쪽에 고정합니다 */
}

.logo img {
    max-width: 100%; /* 이미지가 부모 요소를 넘어가지 않도록 설정합니다 */
    height: auto;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* 메인 콘텐츠 스타일링 */
main {

}

section {

}

.photo-flame {
    position: relative; /* 포지션 설정 */
    max-width: 100%;
    overflow: hidden; /* 이미지가 부모 요소를 넘어가지 않도록 합니다 */
}

.photo-flame img {
    width: 100%; /* 이미지의 너비를 부모 요소에 맞게 100%로 설정합니다 */
    height: auto; /* 이미지의 가로 세로 비율을 유지합니다 */
    display: block; /* 인라인 요소에서 블록 요소로 변환하여 가로 너비를 100%로 설정합니다 */
}

.text-overlay {
    position: absolute; /* 포지션 설정 */
    color: #fff; /* 텍스트 색상을 흰색으로 설정 */
}
.text-overlay .text-middle {
    font-family: GmarketSansTTFBold;
}

.text-overlay .text-big {
    font-family: Sandoll CinemaTheater;
    font-weight: 400;
}

.text-overlay .text-small .light{
    font-family: GmarketSansTTFLight;
}

.text-overlay .text-small .bold{
    font-family: GmarketSansTTFBold;
}

.photo-line {
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 가로 방향으로 가운데 정렬 */
    align-items: center; /* 세로 방향으로 가운데 정렬 */
    height: 100%; /* 높이 설정 */
}

.photo-line img {
    max-width: 100%; /* 이미지 너비 최대 크기로 설정 */
    height: auto; /* 이미지의 가로 세로 비율 유지 */
}

/* 디테일 콘텐츠 스타일링 */
.photo-text {
    color: #151515;
    margin-left: 30px;
}

.iframe-container {
    position: relative;
    width: 100%;
}
iframe {
    width: 100%;
    border: none;
}

/* 풋터 스타일링 */
footer {
    background-color: #fff;
    color: #333;
    padding: 10px 0 35px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-family: GmarketSansTTFMedium;
}

.footer-content {
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 0 auto; /* 가운데 정렬 */
}

/* 미디어 쿼리 */
@media screen and (max-width: 768px) {
    /* 화면 너비가 768px 이하일 때 적용되는 스타일 */
    header {
        padding: 20px;
    }
    header nav ul li {
        display: block;
        margin: 10px 0;
    }
    .text-overlay {
        font-size: 30%;
        top: 20px; /* 상단으로부터 10px 위치에 배치 */
        left: 25px; /* 왼쪽으로부터 10px 위치에 배치 */
    }
    .text-overlay .text-small {
        font-size: 4pt;
        margin-bottom: 3px;
    }
    .text-overlay .text-middle {
        font-size: 8pt;
        margin-bottom: 1px;
    }
    .text-overlay .text-big {
        font-size: 15pt;
        margin-bottom: 2px;
    }
    .logo {
        width: 100px;
    }
    footer {
        height: 25px;
        font-size: 10%;
    }
}

@media screen and (min-width: 768px) {
    /* 화면 너비가 768px 이상일 때 적용되는 스타일 */
    header nav ul li {
        display: inline;
        margin-right: 20px;
    }
    .text-overlay {
        font-size: 100%;
        top: 90px; /* 상단으로부터 10px 위치에 배치 */
        left: 70px; /* 왼쪽으로부터 10px 위치에 배치 */
    }
    .text-overlay .text-small {
        font-size: 14pt;
        margin-bottom: 10px;
    }
    .text-overlay .text-middle {
        font-size: 18pt;
        margin-bottom: 2px;
    }
    .text-overlay .text-big {
        font-size: 45pt;
        margin-bottom: 10px;
    }
    .logo {
        width: 150px;
    }

}